#root {
    --chatHeaderHeight: 80px;
}

.chat__header {
    display: flex;
    justify-content: space-between;
    height: var(--chatHeaderHeight);
    max-height: var(--chatHeaderHeight);
    align-items: center;
    border: 2px solid #4e555b;
    border-radius: 5px;
    padding: 0 10px;
    font-size: calc(2 * var(--size));
    font-weight: 500;
}

.chat__info {
    display: flex;
}

.chat__participants-count {
    margin: 0 20px;
}

@media screen and (max-width: 765px) {
    .chat__participants-count {
        margin: 0 12px;
    }
}

@media screen and (max-width: 700px) {
    #root {
        --chatHeaderHeight: 60px;
    }
}

@media screen and (max-width: 450px) {
    .chat__info {
        flex-direction: column;
        align-items: flex-start;
    }
    .chat__participants-count {
        margin: 0;
    }
}