.chat__message-list {
    margin-top: 10px;
    max-height: calc(100% - var(--chatHeaderHeight) - 10px);
    overflow-y: scroll;
    border: 2px solid #4e555b;
    border-radius: 5px;
}

.chat__message-list::-webkit-scrollbar {
    display: none;
}