.messages__message {
    display: flex;
    align-items: center;
    width: 60%;
    min-height: 80px;
    padding: 10px;
    border: 2px solid #4e555b;
    border-left: none;
    margin: 20px 0;
    box-shadow: 7px 7px 10px 2px rgba(0, 0, 0, 0.08);
}

.messages__message.messages__message-self {
    margin-left: 40%;
    border-left: 2px solid #4e555b;
    border-right: none;
}

.messages__message .message__avatar-block {
    width: 80px;
    height: 80px;
    min-width: 80px;
    min-height: 80px;
    max-height: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}

.messages__message .message__avatar {
    max-height: 100%;
    height: 100%;
}

.messages__message .message__content {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    padding-left: 30px;
}

@media screen and (max-width: 766px) {
    .messages__message {
        width: 80%;
    }

    .messages__message.messages__message-self {
        margin-left: 20%;
    }
}

@media screen and (max-width: 500px) {
    .messages__message {
        width: 90%;
    }

    .messages__message.messages__message-self {
        margin-left: 10%;
    }

    .messages__message .message__avatar-block {
        width: 60px;
        height: 60px;
        min-width: 60px;
        min-height: 60px;
    }

    .messages__message .message__content {
        padding-left: 10px;
    }

}